<!DOCTYPE HTML>
<html>
<!-- replace with head tag from headers.html -->
<head data-th-replace="fragments/headers::head(title='Add Student')">Add a students</head>

<body>
<div class="container">
    <!-- replace with top fragment from customersPage.html -->
    <div data-th-replace="customersPage::top">....</div>

    <h2>Add Student</h2>
    <!--    <div data-th-if="${errorMessage!=null}"
            style="color:red;font-style:italic" data-th-utext="${errorMessage}">..</div> -->

    <form data-th-action="@{/addStudent}" data-th-object="${addStudentForm}" method="POST">
        <div class="form-group">
            <label data-th-for="studName" data-th-class="${#fields.hasErrors('studName')}? fieldError">Full Name</label>
            <input type="text" class="form-control" placeholder="Enter Full Name" data-th-field="${addStudentForm.studName}"/>
        </div>
        <div class="form-group">
            <label data-th-for="groupName" data-th-class="${#fields.hasErrors('groupName')}? fieldError">Group name</label>
            <input type="text" class="form-control" placeholder="Enter groupName" data-th-field="*{groupName}"/>
        </div>
        <div class="form-group">
            <label data-th-for="math" data-th-class="${#fields.hasErrors('math')}? fieldError">Mathematics</label>
            <input type="text" class="form-control" placeholder="Enter Mathematics" data-th-field="*{math}"/>
        </div>
        <div class="form-group">
            <label data-th-for="physics" data-th-class="${#fields.hasErrors('physics')}? fieldError">Physics</label>
            <input type="text" class="form-control" placeholder="Enter Physics" data-th-field="*{physics}"/>
        </div>
        <div class="form-group">
            <label data-th-for="english" data-th-class="${#fields.hasErrors('english')}? fieldError">English</label>
            <input type="text" class="form-control" placeholder="EnterEnglish English" data-th-field="*{english}"/>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Add"/>
        </div>
    </form>
</div>
</body>
</html>